* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
}

nav {
    width: 100%;
    background-color: white;
    box-shadow: 0px -15px 20px rgba(199, 199, 199, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    padding-left: 5rem;
    color: crimson;
    text-transform: uppercase;
}

nav ul {
    padding-right: 5rem;
}

nav ul a {
    text-decoration: none;
    margin-right: 1.5rem;
    color: black;
}

.cta_btn {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border: none;
}

header .content {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    margin-top: 5rem;
}

header .content .left h1 {
    width: 30%;
    font-size: 3.8rem;
    color: rgba(0, 0, 0, 0.63);
}

header .content .right {
    width: 50%;
    line-height: 30px;
}

.mountain {
    width: 100%;
    height: 100vh;
    background-image: url('./images/mountain.png');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
    position: relative;
}

.mountain .cloud-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.mountain .cloud-2 {
    position: absolute;
    top: 18%;
    right: 0;
    width: 50%;
}

.mountain .cloud-3 {
    position: absolute;
    top: 50%;
    left: -10%;
    width: 50%;
}

.mountain .cloud-4 {
    position: absolute;
    top: 50%;
    right: -10%;
    width: 50%;
}

.cloud-float {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cloud-float img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: floating_cloud calc(8s * var(--i)) linear infinite;
}

@keyframes floating_cloud {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.section-2 .left h1 {
    font-size: 2.5rem;
}

.section-2 .left h1 span {
    background-color: crimson;
    color: white;
    padding: 0 1rem;
    border-radius: 50px;
}

.section-2 .right {
    width: 50%;
}

.section-2 .right p {
    line-height: 30px;
    font-size: .9rem;
}

.section-2 .right .info {
    display: flex;
    gap: 25px;
    margin-top: 1rem;
}

.section-2 .right .info label {
    font-size: .8rem;
}

.section-2 .right .info h1 {
    font-size: 1.8rem;
}

.section-3 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.cloud-float-2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cloud-float-2 img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: floating_cloud calc(2s * var(--i)) linear infinite;
}

